body {
	font-family: 'Open Sans Condensed', sans-serif;
	border-color: #f1f2f3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	cursor: pointer;
}
